<div #container class="home-page">
    <div class="header">
        <div class="pull-left left-menu-btn">
            <img class="left-align-icon" src="assets/images/left-align.png" />
        </div>
        <div class="reserve-ticket-btn">
            <img src="assets/images/reserve.png" />            
        </div>
        <div class="pull-right share-btn">
            <span>SHARE</span>
        </div>

    </div>
    <div class="bottom-title-wrapper">
        <div class="min-title">ACADEMY AWARD NOMINEE</div>
        <div class="small-title">
            <span>ROSAMUND PIKE</span>
            <span> is </span>
            <span>MARIE CURIE </span>
        </div>
        <div class="large-title">RADIOACTIVE</div>
        <div class="bottom-title">IN CINEMAS MARCH 2020</div>
    </div>

    <div class="footer">

    </div>

</div>
